@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --font-accent: var(--font-fraunces);
  --font-logo: var(--font-hanken);

  --color-brand-white: #F4F6F5;
  --color-brand-blue: #9FB6C3;
  --color-brand-blue-dk: #6F8793;
  --color-brand-sand: #C8B7A6;
  --color-brand-graphite-old: #1E2326;
  --color-brand-graphite: #0F1C21;
}

html {
  scroll-behavior: smooth;
}